<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/menu.css}" />
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2 th:text="#{articulo.titulo}">Lista de articulos</h2>
            <a th:href="@{/articulo/nuevo}" th:text="#{articulo.nuevo}"
               sec:authorize="hasRole('ADMIN')"></a>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{articulo.descripcion}">Descripción</th>
                            <th th:text="#{articulo.precio}">Precio</th>
                            <th th:text="#{articulo.existencias}">Existencias</th>
                            <th th:text="#{articulo.activo}">Activo</th>
                            <th th:text="#{accion.actualizar}" sec:authorize="hasRole('ADMIN')"></th>
                            <th th:text="#{accion.eliminar}" sec:authorize="hasRole('ADMIN')"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${articulos}">
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(item.precio, 3, 2)}"></td>
                            <td th:text="${item.existencias}"></td>
                            <td><input type="checkbox" name="activo" th:checked="${item.activo}" disabled="true" /></td>
                            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/articulo/modificar/} + ${item.idArticulo}"
                                   th:text="#{accion.actualizar}">Modificar</a></td>
                            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/articulo/eliminar/} + ${item.idArticulo}"
                                   th:text="#{accion.eliminar}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                <p th:text="#{articulo.no_mostrar}"></p>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
