<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Gamestore</title>
    </head>
    <body>
        
        <header th:replace="layout/plantillaVideojuegos:: header"/>
        <h3>Listado de clientes</h3>

        <a th:href="@{/nuevoCliente}">Nuevo cliente</a>

        <div th:if="${clientes !=null and !clientes.empty}">
        </div>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correos</th>
                    <th>Telefono</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellidos}"></td>
                    <td th:text="${cliente.correo}"></td>
                    <td th:text="${cliente.telefono}"></td>
                    <td><a th:href="@{/eliminarCliente/} + ${cliente.idCliente}">Eliminar</a></td>
                    <td><a th:href="@{/modificarCliente/} + ${cliente.idCliente}">Modificar</a></td>
                </tr>
            </tbody>
        </table>
        <div th:if="${clientes ==null or clientes.empty}">
            No tenemos Clientes que mostrar....
        </div>
        <footer th:replace="layout/plantillaVideojuegos:: footer"/>
    </body>
</html>
